@font-face {
    font-family: 'fontin';
    src: url('fonts/Fontin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
 font-family: 'fontin', sans-serif;
 font-weight: 300;

 /* Oxblood  
 #76323F; */

 /* Grain */
 background-color: #D7CeC7;

 /* BlackBoard 
    #565656 */

 /* Tan
    #C09F80 */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #76323F;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #76323F;
}

a:hover {
    color: red;
}

#banner {
    width: 20%;

    padding-left: 5%;

    margin-top: 3.5%;
    float: left;
}

#top {
    margin-top: 10%;
}
.home {
    float: right;

    width: 55%;

    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 2%;

    margin-top: 3%;
    margin-right: 7%;

    color: #D7CeC7;
    background-color: #565656;
    border-radius: 6px;
    display: inline-block;
}

.home h2 {
    color: #D7CeC7 !important;
}

